<%-include("partials/header");-%>
<div style="margin-top: 1rem;" class="text-muted">
    <%= formattedDate %>
</div>
<h1 style="margin-top: 1rem;">Home</h1>
<p><%=content%></p>
<% posts.forEach(post => { %>
<div class="post">
    <a href="/posts/<%= post._id %>">
        <h1> <%= post.title %> </h1>
    </a>
    <p>
        <%= post.body.substring(0,50) %>
        <% if (post.body.length > 50) { %>
        <a href="/posts/<%= post._id %>">
            ... Read more
        </a>
        <% } %>
    </p>
    <form action="/delete" method="POST">
        <button type="submit" name="deletePost" value="<%= post._id %>">&#10006;</button>
    </form>
</div>
<% }); %>

<%-include("partials/footer");-%>